.wrapper {
  background: var(--color-bg-secondary);
}

.banner {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.banner h1 {
  font-size: 2.8rem;
  font-weight: 600;
}
.content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-border-primary);
}
.comments {
  padding: 2rem 1rem;
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.comments a {
  color: var(--color-primary);
}
.comments a:hover {
  text-decoration: underline;
}
.comments span {
  margin-top: 1rem;
  color: var(--color-text-secondary);
}

.comment {
  border: 1px solid var(--color-border-primary);
  border-radius: 0.25rem;
}
.commentBody {
  padding: 1.25rem;
}

.commentMeta {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--color-bg-secondary);
  gap: 1rem;
}

.commentMeta img {
  width: 20px;
  height: 20px;
  border-radius: 4rem;
}
.commentMeta span {
  color: var(--color-text-secondary);
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
}

.commentForm textarea {
  width: 100%;
  display: block;
}
.commentFormMeta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--color-bg-secondary);
}
.iconButton {
  display: flex;
  justify-content: center;
  margin-left: auto;
  border-radius: 1rem;
}
.iconButton:hover {
  background-color: var(--color-bg-tertiary);
}
