.wrapper {
  background: #333;
}

.banner {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.banner h1 {
  font-size: 2.8rem;
  font-weight: 600;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}
.comments {
  padding: 2rem 0;
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comments a {
  color: var(--primary);
}
.comments a:hover {
  text-decoration: underline;
}
.comments span {
  margin-top: 1rem;
}

.comment {
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
}
.commentBody {
  padding: 1.25rem;
}

.commentMeta {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
}
.commentMeta img {
  width: 20px;
  height: 20px;
  border-radius: 4rem;
}
.commentMeta span {
  color: #bbb;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
}
