.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form h1 {
  font-size: 2.5rem;
  font-weight: 500;
  align-self: center;
}
.form a {
  color: var(--color-text-secondary);
  align-self: center;
}
.form a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}
.submitButton {
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  margin-left: auto;
}
