.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 450px;
}
.form h1 {
  font-size: 2.5rem;
  font-weight: 500;
  align-self: center;
}
.form a {
  color: var(--primary);
  align-self: center;
}
.form a:hover {
  color: #419641;
  text-decoration: underline;
}
.submitButton {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  margin-left: auto;
}

.submitButton:hover {
  background-color: #449d44;
  border-color: #419641;
}
