.banner {
  background: var(--color-bg-secondary);
  display: grid;
  place-items: center;
  padding: 2rem 0;
  gap: 0.5rem;
}
.banner h4 {
  font-size: 1.5rem;
  font-weight: 700;
}
.settingsButton {
  color: var(--color-text-tertiary);
  border: 1px solid var(--color-text-tertiary);
  font-size: 0.875rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.settingsButton:hover {
  background-color: var(--color-text-tertiary);
  color: var(--color-white);
}
