.logoutButton {
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  color: var(--color-danger-primary);
  border-color: var(--color-danger-primary);
  margin-right: auto;
}
.logoutButton:hover {
  background-color: var(--color-danger-primary-darker);
  border-color: var(--color-danger-primary-darker);
  color: var(--color-white);
}
.divider {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
