.logoutButton {
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  color: var(--error);
  border-color: var(--error);
  margin-right: auto;
}
.logoutButton:hover {
  background-color: rgba(var(--error), 0.8);
  border-color: rgba(var(--error), 0.8);
  color: #fff;
}
.divider {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
