.listItem {
  padding: 1rem 0;
  border-top: 1px solid var(--color-border-secondary);
}
.meta {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.content p {
  color: var(--color-text-secondary);
  margin-bottom: 1.5rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.bottom a {
  color: var(--color-text-secondary);
  font-size: 0.8rem;
  font-weight: 300;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 50%;
}
.tags span {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  border-radius: 10rem;
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0 0.6rem;
}

.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.pagination li {
  display: inherit;
}

.pagination li a {
  color: var(--color-primary);
  border: 1px solid var(--color-border-primary);
  padding: 0.5rem 0.75rem;
  text-align: center;
  width: 43px;
}
.pagination li a:hover {
  background-color: var(--color-border-secondary);
  text-decoration: underline;
}

.pagination li a:first-child {
  border-top-left-radius: 0.25rem;
}
.pagination li a:last-child {
  border-bottom-right-radius: 0.25rem;
}
.pagination .active {
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}
.pagination .active:hover {
  background-color: var(--color-primary);
}
