.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.username {
  line-height: 1rem;
}
.username a {
  display: block;
  color: var(--color-primary);
  font-weight: 500;
}
.username span {
  color: var(--color-text-tertiary);
  font-size: 0.8rem;
  font-weight: 300;
}
