.activeTab {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
  padding: 0.5em 1em;
  border-radius: 0;
}
.inactiveTab {
  color: var(--color-text-tertiary);
  padding: 0.5em 1em;
}
.inactiveTab:hover {
  color: var(--color-text-secondary);
}
