.banner {
  background-color: var(--color-primary);
  color: var(--color-bg-primary);
  text-align: center;
  padding: 2rem;
}
/*.banner h1 {*/
/*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);*/
/*margin-bottom: 0.5rem;*/
/*}*/
.banner p {
  font-size: 1.5rem;
  font-weight: 300;
}
