.button {
  border-color: var(--color-primary);
  color: var(--color-primary);
  font-size: 0.875rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.button:hover,
.buttonFavorited {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
}
.buttonFavorited:hover {
  background-color: var(--color-primary-darker);
  border-color: var(--color-primary-darker);
  color: var(--color-white);
}
