.button {
  border-color: var(--color-text-tertiary);
  color: var(--color-text-tertiary);
  font-size: 0.875rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.button:hover {
  background-color: var(--color-text-tertiary);
  color: var(--color-white);
}
