.wrapper {
  padding: 5px 10px 10px 10px;
  background: #f3f3f3;
  border-radius: 4px;
}
.wrapper p {
  line-height: 2rem;
}

.tagsList {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}
.tagsList span {
  cursor: pointer;
  background-color: #818a91;
  color: white;
  font-size: 0.8rem;
  padding: 0.2rem 0.6rem;
  border-radius: 4rem;
}
.tagsList span :hover {
  background-color: #687077;
}
