body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

*:hover {
  transition: all 0.2s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

a {
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

button {
  text-decoration: none;
  background: none;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  line-height: 1.25;
  font-weight: 500;
}
button svg {
  width: 1rem;
  height: 1rem;
}

input,
textarea {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  margin: 0;
  border: 1px solid var(--color-border-primary);
  color: var(--color-text-tertiary);
  background-color: var(--color-bg-primary);
}
input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-primary);
}

.container {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width: 1140px; /* 2 */
  padding: 0.5rem 1rem;
}

.error-messages {
  color: var(--color-danger);
  font-weight: bold;
  margin: 0;
}

.mw-540 {
  max-width: 540px;
}
.mw-720 {
  max-width: 720px;
}
.mw-920 {
  max-width: 920px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.primary-btn {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.primary-btn:hover {
  background-color: var(--color-primary-darker);
  border-color: var(--color-primary-darker);
}
.primary-btn:disabled {
  filter: brightness(0.75);
}
