body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #373a3c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #5cb85c;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.1;
}

a {
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

button {
  text-decoration: none;
  background: none;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  line-height: 1.25;
}
button svg {
  width: 1rem;
  height: 1rem;
}

.container {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width: 1140px; /* 2 */
  padding: 0.5rem 1rem;
}
