body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:hover {
  transition: all 0.2s;
}
h1 {
  font-size: 3.5rem;
  line-height: 1.1;
}

a {
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

button {
  text-decoration: none;
  background: none;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  line-height: 1.25;
}
button svg {
  width: 1rem;
  height: 1rem;
}

.container {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width: 1140px; /* 2 */
  padding: 0.5rem 1rem;
}

input {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  margin: 0;
  border: 1px solid var(--color-muted);
  color: #55595c;
}

textarea {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  margin: 0;
  border: 1px solid var(--color-muted);
  color: #55595c;
}

.error-messages {
  color: var(--color-accent);
  font-weight: bold;
  margin: 0;
}

.mw-540 {
  max-width: 540px;
}
.mw-720 {
  max-width: 720px;
}
.mw-920 {
  max-width: 920px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
