:root {
  /*--color-text-secondary: #8b949e;*/
  /*--color-text-tertiary: #8b949e;*/
  /*--color-text-placeholder: #484f58;*/
  /*--color-text-disabled: #484f58;*/
  /*--color-text-inverse: #0d1117;*/
  /*--color-text-link: #58a6ff;*/
  /*--color-text-danger: #f85149;*/
  /*--color-text-success: #56d364;*/
  /*--color-text-warning: #e3b341;*/
  /*--color-text-white: #f0f6fc;*/
}
